:root {
  --cor-click: #126ae2;
  --cor-sombra: #0a5a9b;
  --cor-text: black;
  --cor-background1: white;
  --cor-background2: #0a5a9b;
}

body {
  margin: 0px;
  font-size: 40px;
  background-color: var(--cor-background1);
  color: var(--cor-text)
}

header {
  background-color: var(--cor-background2);
  padding: 40px;
  display: block;
  border-radius: 0px 0px 50px 50px;
}

main {
  padding: 40;
}

.icon {
  font-size: 80px;
  cursor: pointer;
}

.start-icons {
  display: flex;
  padding-top: 40;
  padding-left: 40;
  padding-right: 40;
  justify-content: space-between;
}

.notifications {
  padding: 1;
}

.notifications p {
  padding: 20px;
  display: inline;
  justify-content: right;
  text-align: right;
}

.notifications i {
  padding: 20px;
  display: inline;
}

.cards-container {
  padding: 20px;
}

.cards-container div {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 10px;
  margin: 0 20 40 20;
  border: 2px solid grey;
  text-align: center;
}

.cards-container div:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.text_bold {
  font-weight: bold;
}

.text_center {
  text-align: center;
}

#greetings_text {
  color: var(--cor-text)
  /* color: rgba(0, 0, 0, 0.8); */
}

.bottom-navbar {
  background-color: var(--cor-background2);
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  position: sticky;
  margin-top: 20;
  bottom: 0;
  width: 100%;
}

.bottom-navbar a {
  padding: 12px;
  color: white;
  text-decoration: none;
}


.bottom-menu-item {
  display: block;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.bottom-menu-item i {
  font-size: 60;
}

.svg_logo{
  width: 300px;
}

.path_logo{
  fill: #126ae2;
}


#drawer {
  height: 100%;
  width: 0;
  position: fixed;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1;
  background-color: var(--cor-background1);
}

#drawer_option {
  position: relative;
  padding: 40px;
  margin: 40px;
  display: "block";
  cursor: pointer;
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
}
